<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <audio controls>
      <source src="https://jellylorum.tripod.com/jellicle.wav" type="audio/wav">
    </audio>
  </head>

  <body>
    <h1>Cats!</h1>
    <%= yield %>
  </body>
</html>
